@import "tailwindcss";

:root {
  --bg: #28223C;
  --bg2: #1d192b;
  --bg3: linear-gradient(to bottom, #4B415E, #3E354F);;
  --main: #ffecd9;
  --sec: #1e1e1e;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--bg);
  color: var(--main);
  font-family: 'K2D', sans-serif;
}

@layer utilities {
  .minimal-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb; /* gray-200 */
    border-radius: 9999px;
  }
  .minimal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb transparent;
  }
}