@import "tailwindcss";

:root {
  --bg: #28223C;
  --bg2: #BCA48C;
  --bg-dark: #1d192b;
  --main: #ffe4c9;
  --sec: #1e1e1e;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--bg);
  color: var(--main);
  font-family: 'K2D', sans-serif;
}